[Unit]
Description=mijia-homie - send temperature readings to mqtt
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
Environment=RUST_BACKTRACE=1
Environment=RUST_LIB_BACKTRACE=1
ExecStart=/home/pi/mijia-homie
Restart=always

[Install]
WantedBy=multi-user.target
