[Unit]
Description=mijia-homie - send temperature readings to mqtt
After=network.target

# https://selivan.github.io/2017/12/30/systemd-serice-always-restart.html
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
Environment=RUST_BACKTRACE=1
Environment=RUST_LIB_BACKTRACE=1
ExecStart=/home/pi/mijia-homie
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
