[package]
name = "homie-device"
version = "0.3.1"
authors = ["Andrew Walbran <qwandor@google.com>", "David Laban <alsuren@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "A library for creating devices implementing the Homie convention for MQTT."
repository = "https://github.com/alsuren/mijia-homie/"
keywords = ["homie", "mqtt"]
categories = ["network-programming"]

[dependencies]
async-channel = "1.5.1"
futures = "0.3.8"
local_ipaddress = "0.1.3"
log = "0.4.11"
mac_address = "1.1.1"
rumqttc = "0.4.0"
tokio = "1.0.1"
thiserror = "1.0.23"

[dev-dependencies]
pretty_env_logger = "0.4.0"
rand = "0.8.1"
tokio = { version = "1.0.1", features = ["macros", "rt", "rt-multi-thread", "time"] }
