name: Package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  cargo-deb-version: 1.28.0

jobs:
  build-armv7:
    runs-on: ubuntu-latest
    env:
      target: armv7-unknown-linux-gnueabihf
      binutils: binutils-arm-linux-gnueabihf

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get install libdbus-1-dev ${{ env.binutils }}
    - name: Toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ env.target }}
        override: true

    - name: Cache .cargo and target
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/git
          ~/.cargo/registry
          target
        key: ${{ runner.os }}-package-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache cargo-deb and cross
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/bin/cargo-deb
          ~/.cargo/bin/cross
          ~/.cargo/.crates.toml
          ~/.cargo/.crates2.json
        key: ${{ runner.os }}-cargo-bin-${{ env.cargo-deb-version }}

    - name: Install cargo-deb
      run: cargo install cargo-deb --version ${{ env.cargo-deb-version }}

    - Name: Docker build
      run: docker run "--userns" "host" "-e" "PKG_CONFIG_ALLOW_CROSS=1" "--rm" "-e" "CARGO_HOME=/cargo" "-e" "CARGO_TARGET_DIR=/target" "-e" "USER=qwandor" "-e" "CROSS_RUNNER=" "-v" "$HOME/.cargo:/cargo:Z" "-v" "/cargo/bin" "-v" "$GITHUB_WORKSPACE:$GITHUB_WORKSPACE:Z" "-v" "/home/runner/.rustup/toolchains/stable-x86_64-unknown-linux-gnu:/rust:Z,ro" "-v" "$GITHUB_WORKSPACE/target:/target:Z" "-w" "$GITHUB_WORKSPACE" "alsuren/xiaomi-temp-rpi-builder" "sh" "-c" "PATH=$PATH:/rust/bin cargo build --release --target armv7-unknown-linux-gnueabihf --verbose"

    - name: Cross build
      uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: build
        args: --release --target ${{ env.target }}
    - name: Package
      run: cd mijia-homie && cargo deb --target ${{ env.target }} --no-build
    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: debian-packages
        path: target/${{ env.target }}/debian/

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get install libdbus-1-dev

    - name: Cache .cargo and target
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/git
          ~/.cargo/registry
          target
        key: ${{ runner.os }}-package-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache cargo-deb and cross
      id: cache-cargo-deb
      uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/bin/cargo-deb
          ~/.cargo/bin/cross
          ~/.cargo/.crates.toml
          ~/.cargo/.crates2.json
        key: ${{ runner.os }}-cargo-deb-${{ env.cargo-deb-version }}

    - name: Install cargo-deb
      run: cargo install cargo-deb --version ${{ env.cargo-deb-version }}

    - name: Build x86 Debian package
      run: cd mijia-homie && cargo deb
    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        name: debian-packages
        path: target/debian/
